#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    clear: both;
    width: 100%;
    /* color: #ccc; */
    color: #ffffff;
    /* background: #ffffff; */
    text-align: center;
    /* font-size: .8rem; */
    font-size: 14px;
    font-weight: 400;
    font-family: Consolas, Menlo, Monaco, "lucida console", "Liberation Mono", "Courier New", "andale mono", monospaceX, monospace, sans-serif;
    /* padding: 1.25rem 0; */
    padding: 10px 0 11px 0;
    background-color: black;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

#footer a {
    position: relative;
    white-space: normal
}

#footer a:after {
    position: absolute;
    bottom: -0.0625px;
    left: 100%;
    width: 0;
    border-bottom: 0.0625rem solid #1abc9c;
    content: "";
    -webkit-transition: width 350ms, left 350ms;
    -moz-transition: width 350ms, left 350ms;
    -ms-transition: width 350ms, left 350ms;
    -o-transition: width 350ms, left 350ms;
    transition: width 350ms, left 350ms
}

#footer a:hover:after {
    left: 0;
    width: 100%;
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    -ms-transition: width 350ms;
    -o-transition: width 350ms;
    transition: width 350ms
}

/* @media screen and (min-width: 1000px) {

    #wrap.display-menu-tree,
    #wrap.display-menu-tree+#footer {
        width: -webkit-calc(100% - 17.5rem);
        width: calc(100% - 17.5rem)
    }
} */

#footer a {
    color: #1abc9c;
    text-decoration: none
}