#jiangjie,
#zt,
#mainleft,
#mainright,
#xdm,
#bj,
.fixed,
#divme,
#dhlx,
#footer,
#cs,
#cs1,
#cs2,
#cs3,
#js,
.adm,
.adm2 {
    display: block;
}

.cd-top {
    z-index: 6;
}

.adm {
    color: #03A9F4;
    font-size: 36px;
    /* font-family: myCatF; */
    position: relative;
    top: 200px;
    margin: 0 auto;
    z-index: 6;
    clear: both;
}

.adm2 {
    clear: both;
}

#jiangjie {
    clear: both;
    display: block;
    width: 70%;
    height: 180px;
    /* background: rgba(0, 0, 0, 0.4); */
    background: rgba(230, 244, 249, .5);
    position: relative;
    top: 310px;
    margin: 0 auto;
    padding: 0;
    z-index: 6;
}

#zt {
    background: rgba(230, 244, 249, .9);
    ;
    width: 100%;
    height: 2900px;
    position: relative;
    top: 300px;
    padding: 0;
    margin: 0 auto;
    z-index: 4;
}


/* #bjfn{
	width: 100%;
	height: 1900px;
	position: relative;
	top: 0;
	margin: 0 auto;
	z-index: -1;
}
#fnbj{
	width: 100%;
	height: 1000px;
	z-index: -1;
} */

#jj1 {
    font-family: 宋体;
    color: black;
    font-size: 14px;
    text-align: left;
    position: relative;
    margin: 0 10% 30px;
    line-height: 22px;
    /* width: 610px; */
}

#mainleft {
    float: left;
    /* margin: 0 auto; */
    position: relative;
    top: 120px;
    margin: 0 0 0 170px;
    /* background: rgba(230, 244, 249, .9); */
    background: white;
    width: 50%;
    height: 655px;
    z-index: 7;
}

#mainleft2 {
    float: left;
    /* margin: 0 auto; */
    position: relative;
    top: 120px;
    margin: 50px 0 0 170px;
    /* background: rgba(230, 244, 249, .9); */
    background: white;
    width: 50%;
    height: 655px;
    z-index: 7;
    clear: both;
}

#mainleft3 {
    float: left;
    /* margin: 0 auto; */
    position: relative;
    top: 120px;
    margin: 50px 0 0 170px;
    /* background: rgba(230, 244, 249, .9); */
    background: white;
    width: 50%;
    height: 655px;
    z-index: 7;
    clear: both;
}

#yes2017 {
    color: #0000FF;
    margin: 0 20px 0;
    font-size: 13px;
}

#mainleft #ydqw {
    position: relative;
    bottom: 1px;
    left: 10px;
}

#typeist {
    position: relative;
    top: 80px;
    /* right: 10px; */
}

#typeist p {
    font-size: 14px;
    line-height: 30px;
}

#ydqw {
    position: relative;
    top: 4px;
    right: 5px;
    width: 90px;
    height: 30px;
    margin: 40px 0 0 0;
    /* border: 1px solid #c5ced7; */
    border: 1px solid;
    border-radius: 3px;
    /* background-image: linear-gradient(#fbfbfc, #f5f7f9); */
    background-image: linear-gradient(#03A9F4, #03A9F4);
    /* color: #0000FF; */
    color: white;
}

#ydqw1 {
    position: relative;
    top: 4px;
    left: 40%;
    line-height: 30px;
}

#ydqw:hover {
    /* background-position: 0 -10px; */
    /* color: #0000FF; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#years20190503 {
    z-index: 999999;
    background: white;
}

#mainright {
    float: right;
    position: relative;
    right: 15%;
    top: 120px;
    /* background: white; */
    background: rgba(230, 244, 249, .9);
    width: 350px;
    height: 390px;
    z-index: 6;
}

#xdm {
    font-size: 16px;
    font-weight: 700;
    /* font-family: myCatF; */
    margin: 33px 0 0 0;
}

.zsme {
    font-size: 13px;
    font-style: italic;
}

#jiangjie img {
    cursor: pointer;
    transition: all 0.5s;
}

#jiangjie img:hover {
    transform: scale(1.3);
}

#jiangjie #xdm span:nth-child(1) {
    color: #00a7e0 !important
}

#jiangjie #xdm span:nth-child(2) {
    color: #ff3f1a !important
}

#bfq {
    z-index: 9;
}

#bj {
    position: relative;
    height: 520px;
    width: 100%;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    clear: both;
}


/* @media (max-width:991px) {
	#bj {
		height: 260px
	}
} */

.fixed {
    box-sizing: border-box;
    margin: 10px auto;
    width: 772px
}

@media (max-width:0px) {
    .container .fixed {
        width: 900px
    }
}

#divme {
    width: 100%;
    z-index: 3;
}

#dhlx {
    width: 100%;
    /* position: absolute;
	top: 0; */
    z-index: 9999;
}

.fixed,
#divme,
#footer h2 {
    text-align: center;
    letter-spacing: 1pt;
    font-size: 30px;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 15px;
}

p {
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    width: 60%;
    display: none;
    line-height: 40px;
    padding-left: 45%;
}

ul {
    list-style-type: none;
    /* width: 950px; */
    /* text-align: center; */
    margin: 0 auto;
}

li {
    float: left;
    margin: 0px auto;
    text-align: left;
    font-size: 16px;
    /* width: 5.5em; */
    padding: 2px 8px;
}

div {
    text-align: center;
}

a {
    height: 80px;
    width: 67px;
}

#cnzz {
    z-index: 99;
}

#footer {
    /* background: #f5f5f5; */
    /* background: rgba(0, 0, 0, 0.5); */
    /* background: white; */
    /* letter-spacing: 1px; */
    text-align: center;
    width: 100%;
    padding: 0.8rem 0;
    position: relative;
    /* color: white; */
}

#cs {
    clear: both;
    /* 	position: absolute; */
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: 20px;
}

#cs1 {
    font-size: 13px;
    /* color: gray; */
    /* color: black; */
    color: #0033CC;
}

#cs2 {
    font-size: 13px;
    /* color: gray; */
    /* color: black; */
    color: #0033CC;
}

#cs3 {
    font-size: 12px;
    /* color: gray; */
    /* color: black; */
    color: #0033CC;
}

#js {
    color: white;
    font-size: 20px;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    /* background: #2942B0;*/
    background: rgba(0, 0, 0, 0.3);
}

a {
    display: block;
}

#progress {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #ffffff;
    /* background-color: rgba(230, 244, 249, .9); */
}

#progress .loading {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    animation: loading 1.0s infinite linear;
    -webkit-animation: loading 3.0s infinite linear;
}

#pro1 {
    position: relative;
    top: 65%;
    left: 2%;
}

#pro11 {
    position: relative;
    top: 70%;
    left: -200px;
}

.loading img {
    width: 90px;
    height: 90px;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}