/* 5.1.css */
body {
	background-color: gray;
	font: 16px bold;
	margin: 0 auto;
	padding: 0 auto;
}

p {
	font-size: 14px;
	line-height: 0.5em;
	font-weight: bold;
}

#container {
	height: 700px;
	width: 1200px;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 80px;
	background: url(w3school.png) no-repeat top left;
	background-size: 100%;
}

#nav {
	width: 1100px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	padding: 5px 15px;
}

#container #nav ul li {
	list-style-type: none;
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	padding: 0 25px;
}

#mainbody {
	width: 100%;
	height: 400px;
	float: left;
}

#left {
	width: 20%;
	height: 100%;
	text-align: center;
	float: left;
	background-color: #efefef;
}

#container #mainbody #left ul li {
	list-style-type: none;
	font-weight: bold;
	padding: 10px 10px;
}

#mid {
	width: 60%;
	height: 100%;
	float: left;
}

#mainbody #mid dl dd {
	font-weight: bold;
}

#right {
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	background-color: #efefef;
}

#container #mainbody #right p {
	text-align: left;
	font-weight: bold;
}

#p1 {
	line-height: 1em;
	padding-left: 80px;
}

#footer {
	width: 100%;
	height: 90px;
	background-color: #b6b6b6;
	text-align: center;
	float: left;
}
