.you_title {
    padding: 70px 0;
    font-size: 24px;
    text-align: center;
}

.you_title .cn {
    font-size: 14px;
}

.you_title img {
    margin-top: 60px;
    margin-bottom: 120px;
    width: 50px;
}