@font-face {
  font-family: 'FontAwesome';
  /* src: url('../font/fontawesome-webfont.eot'); */
  /* src: url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg-v=4.4.0#fontawesomeregular') format('svg'); */
  src: url('../font/fontawesome-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-quote-left:before {
  content: "\f10d";
}

.fa-quote-right:before {
  content: "\f10e";
}