html, body, div, h1, h2, h3, h4, h5, h6, hr, dl, dt, dd, ul, ol, li, pre, form, fieldset, object, code, legend, button, input, textarea, label, th, td, a, img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
p {
	margin: 0 0 10px;
}

div.topbarFixed {
	position: fixed;
	height: 100px;
	z-index: 1000;
	top: 0px;
}

.topbarFixed .site_one_logo {
	display: none;
}

.topbarFixed .site_one_logo_scroll {
	display: block;
}

div.topbarFixed .headMenu {
	padding-top: 30px;
}

div.topbarFixed .user_login_div {
	top: 0px;
}

.topbar {
	width: 100%;
	height: 164px;
	background-color: white;
}

.topbar .headMenu {
	height: 46px;
	line-height: 46px;
	padding-top: 54px;
	position: relative;
}