.bannner_dot {
    margin-top: 50px;
    text-align: center;
}

.bannner_dot .dot_item {
    width: 40px;
    height: 3px;
    background-color: aliceblue;
    border-radius: 8px;
    display: inline-block;
    margin: 0px 4px;
    cursor: pointer;
}

.bannner_dot .dot_cur {
    background-color: #c1c1c1;
}

/* tashuo */

.tashuo {
    width: 450px;
    margin: 160px auto;
}

.tashuo_title {
    font-size: 24px;
    color: black;
    text-align: center;
    border-bottom: 1px solid #dedddd;
    padding-bottom: 10px;
    width: 115px;
    margin: 0px auto;
    margin-top: 56px;
}

.tashuo_content {
    line-height: 1.8em;
    font-size: 16px;
    color: black;
    position: relative;
}

i.fa-quote-left {
    position: absolute;
    top: 0px;
    left: -56px;
    font-size: 30px;
    color: #dedddd;
}

i.fa-quote-right {
    position: absolute;
    bottom: 0px;
    right: -56px;
    font-size: 30px;
    color: #dedddd;
}

/*  */

/*  */

.grey-bg {
    background: #f6f6f6;
    padding: 120px 0;
    display: block;
}

.mar-tm-10 {
    margin-top: -10px;
}

.title-small span {
    position: relative;
}

.title-small span:after {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 3px;
    background: #DEDEDE;
    width: 28px;
    left: 0;
}

.title-small-center span {
    position: relative;
}

.title-small-center span:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 3px;
    background: #DEDEDE;
    width: 28px;
    left: 0;
}

.content-detail {
    font-weight: 400;
    margin-top: 70px;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 0.4px;
}

.content-details {
    font-weight: 400;
    margin-top: 40px;
    line-height: 30px;
    font-size: 14px;
}

.content-right {
    margin-top: 20px;
}

ul.portfolio-image {
    list-style: none;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

ul.portfolio-image li {
    /* float: left; */
    display: block;
    list-style: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-top: 46%;
}

ul.portfolio-image li:hover {
    cursor: pointer;
}

ul.portfolio-image li:hover img {
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
    transform: scale(1.15);
}

ul.portfolio-image li:hover .image-bg {
    opacity: 1;
}

ul.portfolio-image li:hover .description-wrap {
    background: rgba(186, 186, 186, 0.6);
}

ul.portfolio-image li img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter, transform, 0.5s;
}

ul.portfolio-image li .decription-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(242, 242, 242, 0.4);
    padding: 20px;
    transition: background, 0.5s;
}

ul.portfolio-image li .image-bg {
    color: #2f2f2f;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: inline-block;
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 10px 0;
    position: relative;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    transition: opacity, 0.5s;
    letter-spacing: 1.5px;
    font-weight: 300;
    color: transparent;
}

ul.portfolio-image li .desc {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 0;
    display: table-cell;
    right: 0;
    text-align: center;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
}



.heima_news {
    padding: 20px 0;
    /* background-color: #fbfbfb; */
}

.heima_news .news_title {
    width: 170px;
    border: 1px solid #ccc;
    font-size: 20px;
    height: 50px;
    margin-top: 220px;
    line-height: 50px;
    text-align: center;
    position: relative;
}

.ni img{
    width: 300px;
    margin-left: -60px;
    margin-top: 50px;
}
.nav-tabs-news>li {
    float: left;
    margin-bottom: 40px;
}

.nav-tabs-news>li>a {
    margin-right: 0;
    border: none;
    height: 60px;
    line-height: 60px;
    width: 70px;
    padding: 0;
    text-align: center;
}

.tab-content {
    padding-top: 30px;
}

.tab-content li {
    padding-bottom: 10px;
}

@media screen and (max-width:992px) {
    .nav-tabs-news>li {
        width: 25%;
    }
    .nav-tabs-news>li>a {
        margin: 30px 0;
    }
    .news_title{
        margin: 0 auto;
    }
    .tab-content .topw_item{
        margin-left: 30px;
    }
}

.heima_icon img {
    width: 50px;
}

.topw_item {
    width: 492px;
    height: 360px;
    float: left;
    margin-top: -10px;
    margin-left: 98px;
    margin-bottom: 20px;
    text-decoration: none;
    border: 1.5px solid #f3f3f3;
    padding: 20px;
    background-color: White;
    color: gray;
    overflow: hidden;
}

.topw_photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 14px;
    float: left;
}

.wtop_name {
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #b3b1b1;
    overflow: hidden;
    float: left;
    margin-bottom: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.topw_title {
    font-size: 24px;
    margin: 30px 0px;
    color: black;
    line-height: 1.6em;
    clear: both;
}

.topw_content {
    line-height: 1.8em;
    font-size: 16px;
    color: #5d5b5b;
}

a.writing:link {
    text-decoration: none;
}

.topw_item>a:hover {
    box-shadow: 2px 5px 8px 0 #e8e8e8;
}
.shuxin{
    background: #f6f6f6;
    margin-top: 70px;
}
.shuxin_title {
    padding: 70px 0;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.shuxin_title .cn {
    font-size: 14px;
}

.shuxin_title .ni img{
    margin: 40px auto;
    width: 50px;
}

