/* @media screen and (max-width: 480px) {
    .grey-bg, .white-bg {
        padding: 40px 0;
    }
    ul.portfolio-image li{
		width: 100%;
		padding-top: 95%;
	}
} */
@media screen and (min-width: 1024px) {
    .content-right {
        margin-top: 20px;
        padding: 0 20px 0 60px;
    }
}
@media screen and (max-width: 992px){
	
	.portfolio-image > li{
        width: 50%;
        
    }
    .grey-bg, .white-bg {
        padding: 40px 0;
    }
    ul.portfolio-image li{
		width: 100%;
		padding-top: 95%;
    }
    
    .heima_news .news_title {
        margin-top: 20px;

    }
    .ni{
        text-align: center;
    }
    .ni img{
        width: 500px;
        margin-left: 30px;
    }

}