body
{
    display: none;
}
.tashuo
{
    width: 450px;
    margin: 160px auto;
}
.tashuo_title
{
    font-size: 24px;
    color: black;
    text-align: center;
    border-bottom: 1px solid #dedddd;
    padding-bottom: 10px;
    width: 115px;
    margin: 0px auto;
    margin-top: 56px;
}
.tashuo_content
{
    line-height: 1.8em;
    font-size: 16px;
    color: black;
    position:relative;
}
i.fa-quote-left
{
    position:absolute;
    top:0px;
    left: -56px;
    font-size: 30px;
    color: #dedddd;
}
i.fa-quote-right
{
    position:absolute;
    bottom:0px;
    right: -56px;
    font-size: 30px;
    color: #dedddd;
}

img
{
    border: 0;
}

img
{
    border: 0;
}
.banner_div
{
    background: #fff;
    width: 100%;
    height: 464px;
    position: relative;
    color: black;
    overflow: hidden;
}
.banner_div img
{
    width:100%;
}
/* .carousel
{
    display:none;
    text-decoration:none;
    height: 464px;
}
.carousel:first-child
{
    display:block;    
} */
.bannner_dot
{
    margin-top: 20px;
    text-align: center;
}
.bannner_dot .dot_item
{
    width: 40px;
    height: 3px;
    background-color: aliceblue;
    border-radius: 8px;
    display: inline-block;
    margin: 0px 4px;
    cursor: pointer;
}
.bannner_dot .dot_cur
{
        background-color: #c1c1c1;
}
.topwords
{
    width: 100%;
    background-color: #fbfbfb;
    padding: 70px 0px;
}
.topw_slogan
{
    font-size: 30px;
    
    margin-bottom: 32px;
}
.topw_item
{
    width: 492px;
    height: 360px;
    float:left;
    margin-left: 28px;
    margin-bottom: 28px;
    text-decoration:none;
    border: 1px solid #f3f3f3;
    padding:20px;
    background-color:White;
    color: gray;
    overflow: hidden;
}

a.topw_item:hover
{
    box-shadow: 2px 5px 8px 0 #e8e8e8;
}
.topw_photo
{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right:14px;
        float:left;
}
.wtop_name
{
    width: 400px;
    height: 40px;
    line-height:40px;
    color: #b3b1b1;
    overflow:hidden;
    float:left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.topw_title
{
    font-size: 24px;
    margin: 16px 0px;
    color: black;
    line-height: 1.6em;
}
.topw_content
{
    line-height: 1.8em;
    font-size: 15px;
    color: #5d5b5b;
}
.w_more
{
    text-decoration:none;
    background-color: #dcdcdc;
    padding: 5px 35px;
    border-radius: 30px;
    margin-left: 30px;
    color: #000000;
    font-size: 32px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
    width: 20px;
    text-align: center;
}
.w_more:hover{
        background-color: #656362;
    color: white;
}






#footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    clear: both;
    width: 100%;
    color: #ccc;
    background: #ffffff;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: Consolas, Menlo, Monaco, "lucida console", "Liberation Mono", "Courier New", "andale mono", monospaceX, monospace, sans-serif;
    padding: 1.25rem 0;
    background-color: gray;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

#footer a {
    position: relative;
    white-space: normal
}

#footer a:after {
    position: absolute;
    bottom: -0.0625rem;
    left: 100%;
    width: 0;
    border-bottom: 0.0625rem solid #1abc9c;
    content: "";
    -webkit-transition: width 350ms, left 350ms;
    -moz-transition: width 350ms, left 350ms;
    -ms-transition: width 350ms, left 350ms;
    -o-transition: width 350ms, left 350ms;
    transition: width 350ms, left 350ms
}

body.edge #footer a:after {
    transition: none
}

#footer a:hover:after {
    left: 0;
    width: 100%;
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    -ms-transition: width 350ms;
    -o-transition: width 350ms;
    transition: width 350ms
}

@media screen and (min-width: 1000px) {

    #wrap.display-menu-tree,
    #wrap.display-menu-tree+#footer {
        width: -webkit-calc(100% - 17.5rem);
        width: calc(100% - 17.5rem)
    }
}

body.theme-white #footer {
    background-color: #fafafa;
    color: #777;
    z-index: 999;
}

body.theme-white.theme-sunset #footer {
    background-color: #F8F1E4
}

#footer a {
    color: #1abc9c;
    text-decoration: none
}

#footer .containerfooter {
    margin-top: 0.3125rem
}

#footer h1,
#footer h2,
#footer p {
    text-shadow: 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.75)
}

body.theme-white #footer h1,
body.theme-white #footer h2,
body.theme-white #footer p {
    text-shadow: none
}

@media print {
    #footer {
        display: none
    }

    #post article {
        margin-top: 0
    }
}

a {
    text-decoration: none;
}