#div0 {
	width: 800px;
	height: 1100px;
	border: 5px solid black;
	margin: 0px auto;
}

#div1,
#div2,
#div3,
#div4,
#div5,
#div6,
#div7,
#div8,
#div9 {
	border: 1px solid black;
	margin: 2px;
}

h2 {
	text-align: center;
}

#td0 {
	margin: 0 20px;
}

#td2 {
	width: 600px;
	height: 100px;
}

#div9 {
	text-align: center;
}
