/* style_zzgb.css  */
@charset "utf-8"; /* 设置编码格式*/
*{border:0px;padding:0px;margin:0px;}
body{font-size:12px;font-family:"宋体";background:#fff; margin: 0px auto}
ul{list-style-type: none}
li{list-style-type: none}
a{text-decoration: none; color: #656464}
a:hover{color:#095d40}
.header{height:130px;width:1000px;position:relative;
         margin:0px auto; z-index: 99999}
.top{overflow: hidden; height: 90px}
.logo{width: 273px; float: left; padding-top: 15px}
.top_link{height: 26px;font-family:"微软雅黑";width:511px;
            float: right; padding-top: 45px}
.sfdr{overflow:hidden; height: 26px; width: 316px; float: left}
.sfdr li{height: 26px; width: 67px; float: left; 
          margin: 0px 5px; line-height: 26px}
.sfdr a{font-size: 14px; height: 26px; width: 67px; float: left;
          color: #fff; text-align: center; display: block; line-height: 26px
}
.sfdr span{font-size:14px;height:26px;width:67px;float:left;color:#fff; text-align: center; display: block; line-height: 26px
}
.sfdr a:hover {color: #fff}
#menu1 li.abg1 a{background:url("../images/d_bg1.jpg") no-repeat left bottom
}
#menu1 li.abg1 span{background:url("../images/d_bg1.jpg") no-repeat left top
}
#menu1 li.abg2 a{background:url("../images/d_bg2.jpg") no-repeat left bottom
}
#menu1 li.abg2 span{background:url("../images/d_bg2.jpg") no-repeat left top
}
#menu1 li.abg3 a{background: url("../images/d_bg3.jpg") no-repeat left bottom
}
#menu1 li.abg3 span{
	background:url("../images/d_bg3.jpg") no-repeat left top
}
#menu1 li.abg4 a{background: url("../images/d_bg4.jpg") no-repeat left bottom
}
#menu1 li.abg4 span{background: url("../images/d_bg4.jpg") no-repeat left top
}
.ya{height:26px;width:185px;float:left;padding-left:10px;line-height: 26px
}
.ya a{color: #707070;}
.ya a:hover {color: #095d40;background:#FFFFFF;}
/* 导航菜单CSS设置  */
.nav{height:40px;width:810px;position:relative;float:left;z-index:2000
}
.nav li{font-size:14px;font-family:"微软雅黑";width:70px;position:relative;float:left;z-index:2000; margin-right: 28px
}
.nav li a{height:40px;width:70px;background:url("../images/nav_libg.jpg") no-repeat right center; color: #000; display: block; line-height: 40px
}
.nav li a:hover{background:url("../images/nav_lihbg.jpg") no-repeat right center; color: #095d40
}
.nav dl{height:auto;width:278px;background:#fff;position: absolute; 
padding-bottom:0px 7px 12px 7px; left: 0px; top: 40px; 
filter: alpha(opacity=80); opacity: 0.8;
z-index: 2000; display: none;
}
.nav dl dd{width:139px;float:left;line-height:28px}
.nav dl dd a{font-family:"微软雅黑";width:116px;
background:url("../images/li_bg.jpg") no-repeat left center; 
color: #505050; padding-left: 14px; 
display: inline-block;
}
.nav dl dd a:hover{background: url("../images/li_hbg.jpg") no-repeat left center; color: #095d40
}
/* 搜索栏CSS设置  */
.sea_box{right:0px;position:absolute;bottom:12px}
.search{height:27px;width:177px;background:url("../images/sea_bg.jpg") no-repeat; position:relative
}
.search input{border-style: none; height: 27px; width: 140px;
background: none transparent scroll repeat 0% 0%; 
 position: absolute;color: #828181; 
padding-left: 0px; left: 0px; 
line-height: 27px; top: 0px
}
.search input.notxt {color: #828181; padding-left: 7px}
.search input.notxt1{ cursor: pointer;
height: 27px; width: 30px; 
background: none transparent scroll repeat 0% 0%; 
border-style: none; position: absolute; left: 147px; top: 0px
}
/*  大图轮播CSS */
.banner{overflow: hidden; height: 376px; width: 100%;
position: relative; margin: 0px auto
}
.none {display: none}
.banner_show{overflow: hidden; height: 376px; width: 100%; 
position: relative; text-align: center
}
.bannger_inbox{position: absolute; left: 50%; top: 0px}
.banner_pre_next {height: 30px; width: 100%; position: relative;
left: 0px; margin: 0px auto; z-index: 105; top: 40%
}
.banner_pre_next a {
	height: 30px; width: 30px; background: url("../images/arrows.png") no-repeat; text-indent: -999em
}
.banner_pre_next .banner_btn_left {
	position: absolute; background-position: 0px 0px; left: 30px
}
.banner_pre_next .banner_btn_right {
	right: 30px; position: absolute; background-position: -30px 0px
}
/* 主要内容样式 */
.content {overflow: hidden; width: 1000px; margin: 8px auto;}
.bl_news {
	overflow: hidden; margin-bottom: 20px; height: 303px; width: 632px; float: left
}
.news_title {overflow: hidden; height: 75px;}
.news_title h2 {
	font-size: 18px; height: 75px; 
	font-family: "微软雅黑","黑体"; font-weight: normal; 
	color: #000; line-height: 75px
}
.news_title h2 a {
	font-size: 12px; color: #878585; padding-left: 14px
}
.news_title h2 a:hover {
	color: #095d40
}
.news_con {
	height: 226px;border-top:1px solid #e4e4e4; 
	border-bottom: 1px solid #e4e4e4; 
	padding:0px 2px;
}
.new_box1 {
	overflow: hidden; height: 180px; 
	border-right:1px solid #e4e4e4;
	width: 180px; float: left; padding:18px 17px 18px 0px;
}
.con_box img {
	height: 120px; width: 180px
}
.con_box h3 {
	overflow: hidden; font-size: 12px; height: 40px; font-weight: normal; padding-bottom: 0px; padding-top: 20px; padding-left: 9px; line-height: 20px; padding-right: 13px
}
.con_box h3 a {
	background: url("../images/li_bg.jpg") no-repeat right 30px; color: #656464; display: block
}
.con_box h3 a:hover {
	background: url("../images/li_hbg.jpg") no-repeat right 30px; color: #095d40
}
.new_box2 {
	overflow: hidden; height: 180px; border-right:1px solid #e4e4e4 ; width: 180px; float: left; padding-bottom: 18px; padding-top: 18px; padding-left: 17px; padding-right: 17px
}
.new_box3 {
	overflow: hidden; height: 180px; width: 180px; float: left;
	padding:18px 0px 18px 18px;
	
}
/* 公共服务样式  */
.fw {
	margin-bottom: 47px; height: 190px; width: 493px; float: left; padding-bottom: 47px; _width: 504px
}
.fw_con {
	overflow: hidden; height: 69px; padding-bottom: 23px; padding-top: 23px; padding-left: 0px; padding-right: 0px
}
.fw_con a {
	overflow: hidden; height: 69px; font-family: "微软雅黑"; width: 50px; float: left; text-align: center; display: block; line-height: 24px; margin-right: 11px
}
.fw_con a span {
	height: 45px; width: 50px; display: block
}
.fw_con a.icon1 span {
	background: url("../images/icon_01.jpg") no-repeat center 50%
}
.fw_con a.icon2 span {
	background: url("../images/icon_02.jpg") no-repeat center 50%
}
.fw_con a.icon3 span {
	background: url("../images/icon_03.jpg") no-repeat center 50%
}
.fw_con a.icon33 span {
	background: url("../images/icon_033.jpg") no-repeat center 50%
}
.fw_con a.icon4 span {
	background: url("../images/icon_04.jpg") no-repeat center 50%
}
.fw_con a.icon5 span {
	background: url("../images/icon_05.jpg") no-repeat center 50%
}
.fw_con a.icon6 span {
	background: url("../images/icon_06.jpg") no-repeat center 50%
}
.fw_con a.icon7 span {
	background: url("../images/icon_07.jpg") no-repeat center 50%
}
.fw_con a.icon8 span {
	background: url("../images/icon_08.jpg") no-repeat center 50%
}
.ztbd {
	height: 190px; width: 237px; float: left; padding-bottom: 47px; margin: 0px 32px 47px; _margin: 0 25px 47px
}
.zt_con {
	overflow: hidden; height: 115px
}
.tz_con {
	overflow: hidden; height: 115px
}
.zt_con li {
	overflow: hidden; height: 53px; border-bottom:1px solid #e4e4e4 
}
.tz_con li {
	overflow: hidden; height: 53px; border-bottom:1px solid #e4e4e4 
}
.zt_con li span {
	font-size: 14px; height: 24px; font-family: comic sans ms; width: 24px; background: #e1e1e1; float: left; color: #6e4401; text-align: center; margin: 10px 0px 19px; display: block; line-height: 24px
}
.zt_con li a {
	height: 40px; width: 180px; float: left; padding-bottom: 3px; padding-top: 10px; padding-left: 22px; display: block; line-height: 20px; padding-right: 10px
}
/*专题报道*/
.qie{width: auto;height: 75px;overflow: hidden;line-height:75px;}
.qie a{float: left;width:auto;height:75px;line-height:75px;
margin-right: 11px;font-size:18px;color:#878585;font-family:"微软雅黑";text-align: center;}
.qie a.cur{color:#000;}
.bd {background: #fff;height:115px;display: none;}
.bd.no1{display: block;height:115px;overflow:hidden;}
.bd ul li{height:53px;border-bottom:1px solid #E4E4E4;overflow:hidden;}
.bd ul li span{float: left;margin:10px 0px 19px;width:24px;height:24px;background-color:#E1E1E1;color:#6E4401;font-family:Comic Sans MS;font-size:14px;line-height:24px;text-align:center;}
.bd ul li a{font-family:"微软雅黑";color:#656464;display:block;float:left;padding:10px 10px 3px 22px;height:40px;line-height:20px;width:180px;}
.bd ul li a:hover{color:#095D40}
.news_title h2 a:hover { color: #000; }
.news_title h2 a.right { font-size: 12px;color: #878585;padding-left: 14px;} 
/* 通知公告样式  */
.tz_new {
	overflow: hidden; margin-bottom: 47px; height: 190px; width: 206px; float: left; padding-bottom: 47px
}
.tz_con li span {
	font-size: 14px; height: 40px; font-family: comic sans ms; width: 38px; float: left; color: #6e4401; text-align: center; margin: 10px 0px 19px; display: block; line-height: 20px
}
.tz_con li span b {font-size: 12px; font-weight: normal;}
.tz_con li a {
	height: 40px; width: 150px; float: left; padding-bottom: 3px; padding-top: 10px; padding-left: 15px; display: block; line-height: 20px; padding-right: 3px; _padding: 10px 3px 3px 12px
}
/* 底部CSS设置   */
.fot_wrap {
	overflow: hidden; height: 100px; width: 100%; background: #d0c5ba; margin: 0px auto
}
.footer {
	overflow: hidden; height: 76px; width: 1000px; padding-bottom: 12px; padding-top: 12px; padding-left: 0px; margin: 0px auto; padding-right: 0px
}
.sfdr2 {
	overflow: hidden; height: 76px; border-right:1px solid #8a8a8a ; width: 182px; float: left; padding-right: 2px
}
.sfdr2 a {
	font-size: 14px; height: 20px; width: 75px; float: left; color: #fff; text-align: center; display: block; line-height: 20px; margin-right: 16px
}
.sfdr2 a.abg1 {background: #6e4401; margin-top: 11px;}
.sfdr2 a.abg1:hover {
	background: url("../images/a_bg5.jpg") no-repeat
}
.sfdr2 a.abg2 {
	background: #095d40; margin-top: 11px;
}
.sfdr2 a.abg2:hover {
	background: url("../images/a_bg6.jpg") no-repeat
}
.sfdr2 a.abg3 {
	background: #c16c33; margin: 13px 16px 11px 0px;
}
.sfdr2 a.abg3:hover {
	background: url("../images/a_bg7.jpg") no-repeat
}
.sfdr2 a.abg4 {
	background: #0d8b60; margin: 13px 16px 11px 0px
}
.sfdr2 a.abg4:hover {
	background: url("../images/a_bg8.jpg") no-repeat
}
.fot_link {
	overflow: hidden; height: 76px; border-right:1px solid #8a8a8a ; width: 168px; float: left; padding-left: 29px
}
.fot_link a {
	height: 26px; width: 75px; float: left; color: #5b5a5a; margin: 8px 0px 0px; display: block; line-height: 26px
}
.fot_link a:hover {
	color: #095d40
}
.fot_logo {
	height: 64px; border-right:1px solid #8a8a8a ; width: 79px; float: left; padding-bottom: 10px; padding-top: 2px; padding-left: 49px; padding-right: 42px
}
.fot_bq {
	width: 429px; float: left; color: #5b5a5a; padding-bottom: 0px; padding-top: 4px; padding-left: 17px; line-height: 24px; padding-right: 0px
}
/* 新闻快讯样式 */
#kx_news {overflow: hidden; margin-bottom: 20px; height: 303px; width: 328px; float: right;}
.menu1box {overflow: hidden; height: 75px; position: relative;}
.menu01 {height: 75px; width: 280px; position: absolute; left: 0px; z-index: 1; top: 0px;}
.menu01 li {overflow: hidden; height:75px;width:93px;float: left; line-height:75px;}
.menu01 li h3 {cursor: pointer; font-size: 18px; height: 46px; font-family: "微软雅黑"; width: 93px; float: left; font-weight: normal; text-align: center; margin-top: 15px; line-height: 46px;}
.menu01 .hover h3 {height: 42px; width: 93px; font-weight: normal; color: #fff; text-align: center; margin-top: 15px; line-height: 42px; background-color: #0e8b61;}
.menu01 li h3 a:hover {}
.main1box {overflow: hidden; width: 328px; clear: both;}
.main1box ul {display: none;}
.main1box ul.block {display: block;}
.main1box ul li {height: 235px; padding-bottom: 0px; padding-top: 0px; padding-left: 0px; margin: 0px; padding-right: 0px;}
.tab_list2 dl dd {background: url("../images/li_bg.jpg") no-repeat left center; padding-left: 14px; margin-left: 4px; line-height: 26px;}
.tab_list2 dl dd span {height: 40px; width: 160px; float: left; display: block;}
.tab_list2 dl dd div {height: 40px; width: 560px; float: right;}
.tab_list2 dl dd div h2 {font-size: 14px; height: 30px; font-weight: bold; color: #1f4f7c; line-height: 30px;}
.tab_list2 dl dd div a {font-size: 14px; color: #4c4c4c; line-height: 30px;}
.bmore1 {height: 75px; width: 60px; float: right; padding-right: 0px;}
.bmore1 strong {font-size: 12px; height: 75px; width: 78px; float: right; font-weight: normal; display: none; line-height: 75px;}
.bmore1 strong a {font-size: 12px; height: 65px; width: 78px; color: #878585; padding-bottom: 1px; text-align: left; padding-top: 10px; padding-left: 30px; display: block; line-height: 65px; padding-right: 30px;}
.bmore1 strong a:hover {color: #095d40;}
.bmore1 strong.current02 {display: block;}
.bmore1 strong.current02 a:hover{color: #666666;}